{% extends "setup_app/templates/web.html" %} {% block style %}

<!-- no-header -->

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css"
/>
<link rel="stylesheet" href="./step.css" />
<style>
  .navbar,
  .web-footer {
    display: none;
  }
  :root {
    --primary: #2490ef;
  }
  button[type="submit"] {
    width: 100%;
    margin-top: 20px;
  }
  .mains {
    display: flex;
    height: 100vh;
  }
  .row {
    margin: 0;
    width: 100%;
  }
  input.error {
    border: 1px solid red;
  }
  .left {
    width: 40%;
    padding: 40px;
    background: #faf8f8;
    height: 100%;
  }
  .right {
    width: 60%;
    background: url("/setup_app/assets/hero.jpg") no-repeat center center;
    background-size: cover;
    padding: 40px;

    justify-content: center;
    align-items: center;
    display: flex;
  }
  .award_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .login_box_main {
    flex-basis: 300px;
  }
  .awards {
    height: auto;
    width: 509px;
  }
  .input-reset {
    padding: 2px;
  }
  .margin-0 {
    margin: 0;
  }
  ul,
  li {
    margin: 0;
    font-size: 10px;
  }
  .errors {
    color: red;
  }
  .logo {
    width: 126px;
  }
</style>

{% endblock %} {% block page_content %}
<div id="apsp" class="mains">
  <div class="left">
    <div class="login_box">
      <div>
        <img
          src="https://uploads-ssl.webflow.com/5e53d34464688e6f5960a338/610a36c2792530d601aaf35f_OneHash_Logo.svg"
          class="logo"
          aria-hidden="true"
        />

        <div class="headings">
          <h2 class="uk-margin-remove uk-text-lead uk-text-large uk-text-bold">
            Free 14 day trial
          </h2>
          <h5 class="margin-0 uk-margin-bottom uk-text-light">
            No credit card required
          </h5>
        </div>
        <div class="login_box_main">
          <div uk-grid>
            <div class="uk-width-1-2">
              <input
                type="text"
                id="firstname"
                name="firstname"
                class="input uk-input"
                placeholder="First name"
                v-model="fname"
                required
              />
            </div>
            <div class="uk-width-1-2">
              <input
                type="text"
                id="lastname"
                class="input uk-input"
                name="lastname"
                placeholder="Last name"
                required
                v-model="lname"
              />
            </div>
          </div>
          <input
            type="text"
            id="sitename"
            class="input uk-input uk-margin"
            name="sitename"
            placeholder="Site name "
            required
            v-model="sitename"
          />
          <input
            type="text"
            class="input uk-input uk-margin-bottom"
            id="companyname"
            name="companyname"
            placeholder="Company name"
            required
            v-model="comapany_name"
          />
          <div uk-grid>
            <div class="uk-width-1-2 uk-margin">
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Email"
                class="input uk-input"
                required
                v-model="email"
              />
            </div>
            <div class="uk-width-1-2">
              <input
                type="password"
                id="password"
                name="password"
                class="input uk-input"
                placeholder="Password"
                required
                v-model="password"
              />
            </div>
          </div>

          <button
            type="submit"
            @click="createSite"
            class="uk-button uk-button-primary"
          >
            <div
              uk-spinner="ratio: 1"
              class="uk-margin-right"
              v-if="loading"
            ></div>
            <span v-if="loading == false">SUBMIT</span>
          </button>
          <ol class="steps">
            <li
              class="step"
              data-step="1"
              id="step1"
              :class="{'is-complete':status.step1 == 'completed','is-active':status.step1 == 'active'}"
            >
              Creating site
            </li>
            <li
              class="step"
              data-step="2"
              id="step2"
              :class="{'is-complete':status.step2 == 'completed','is-active':status.step2 == 'active'}"
            >
              Creating user
            </li>
            <li
              class="step"
              data-step="3"
              id="step3"
              :class="{'is-complete':status.step3 == 'completed','is-active':status.step3 == 'active'}"
            >
              Redirecting
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="award_box">
      <img
        class="awards"
        style="width: 750px"
        src="/assets/setup_app/rating.png"
        alt=""
      />
      <img
        class="awards"
        style="margin-top: 40px"
        src="/assets/setup_app/award1.png"
        alt=""
      />
      <img class="awards" src="/assets/setup_app/award2.png" alt="" />
      <img
        class="awards"
        style="width: 337px"
        src="/assets/setup_app/award3.png"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script src="./start.js"></script>
{% endblock %}
