{% extends "templates/web.html" %} {% block style %}

<!-- no-header -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css"
/>

<style>
  .navbar,
  .web-footer {
    display: none;
  }
  :root {
    --primary: #2490ef;
  }
  button[type="submit"] {
    width: 100%;
    margin-top: 20px;
  }
  .mains {
    display: flex;
    height: 100vh;
  }
  .row {
    margin: 0;
    width: 100%;
  }
  input.error {
    border: 1px solid red;
  }
  .left {
    width: 40%;
    padding: 40px;
    background: #faf8f8;
    height: 100%;
  }
  .right {
    width: 60%;
    background: url("/setup_app/assets/hero.jpg") no-repeat center center;
    background-size: cover;
    padding: 40px;

    justify-content: center;
    align-items: center;
    display: flex;
  }
  .award_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .login_box_main {
    flex-basis: 300px;
  }
  .awards {
    height: auto;
    width: 509px;
  }
  .input-reset {
    padding: 2px;
  }
  .margin-0 {
    margin: 0;
  }
  ul,
  li {
    margin: 0;
    font-size: 10px;
  }
  .errors {
    color: red;
  }
  .logo {
    width: 126px;
  }
</style>

{% endblock %} {% block page_content %}
<div id="apsp" class="mains">
  <div class="left">
    <div class="login_box">
      <div>
        <img
          src="https://uploads-ssl.webflow.com/5e53d34464688e6f5960a338/610a36c2792530d601aaf35f_OneHash_Logo.svg"
          class="logo"
          aria-hidden="true"
        />

        <div class="headings">
          <h2 class="margin-0">Free 14 day trial</h2>
          <h5>No credit card required</h5>
        </div>
        <div class="login_box_main">
          <div class="row">
            <div class="col-6 input-reset">
              <input
                type="text"
                id="firstname"
                name="firstname"
                class="input"
                placeholder="First name"
                v-model="fname"
                required
              />
            </div>
            <div class="col-6 input-reset">
              <input
                type="text"
                id="lastname"
                class="input"
                name="lastname"
                placeholder="Last name"
                required
                v-model="lname"
              />
            </div>
          </div>
          <input
            type="text"
            id="sitename"
            class="input"
            name="sitename"
            placeholder="sitename "
            required
            v-model="sitename"
          />
          <input
            type="text"
            class="input"
            id="companyname"
            name="companyname"
            placeholder="Company name"
            required
            v-model="comapany_name"
          />
          <div class="row">
            <div class="col-6 input-reset">
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Email"
                class="input"
                required
                v-model="email"
              />
            </div>
            <div class="col-6 input-reset">
              <input
                type="password"
                id="password"
                name="password"
                class="input"
                placeholder="Password"
                required
                v-model="password"
              />
            </div>
          </div>
          <div class="errors" v-if="inputErrors.length > 0 ">
            <small>Please fix these issues</small>
            <ul v-for="error in inputErrors">
              <li>{{error}}</li>
            </ul>
          </div>
          <button type="submit" @click="createSite" class="loading">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="award_box">
      <img
        class="awards"
        style="width: 750px"
        src="/assets/setup_app/rating.png"
        alt=""
      />
      <img
        class="awards"
        style="margin-top: 40px"
        src="/assets/setup_app/award1.png"
        alt=""
      />
      <img class="awards" src="/assets/setup_app/award2.png" alt="" />
      <img
        class="awards"
        style="width: 337px"
        src="/assets/setup_app/award3.png"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./start.js"></script>
{% endblock %}
