{% extends "templates/web.html" %} {% block style %}

<!-- no-header -->

<style>
  .navbar,
  .web-footer {
    display: none;
  }
  :root {
    --primary: #2490ef;
  }
  .mains {
    display: flex;
    height: 100%;
  }
  .left {
    width: 40%;
    padding: 40px;
    background: #faf8f8;
    height: 100%;
  }
  .right {
    width: 60%;
    background: url("/setup_app/assets/hero.jpg") no-repeat center center;
    background-size: cover;
    padding: 40px;

    justify-content: center;
    align-items: center;
    display: flex;
  }
  .award_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .login_box_main {
    flex-basis: 300px;
  }
  .awards {
    height: auto;
    width: 509px;
  }
</style>
{% endblock %} {% block page_content %}
<div id="apsp" class="mains">
  <div class="left">
    <div class="login_box">
      <div>
        <img
          src="https://uploads-ssl.webflow.com/5e53d34464688e6f5960a338/610a36c2792530d601aaf35f_OneHash_Logo.svg"
          width="110px;"
          aria-hidden="true"
        />

        <div class="headings">
          <h2>Free 14 day trial</h2>
          <h3>No credit card required</h3>
        </div>
        <div class="login_box_main">
          <div class="grid">
            <input
              type="text"
              id="firstname"
              name="firstname"
              placeholder="First name"
              v-model="fname"
              required
            />

            <input
              type="text"
              id="lastname"
              name="lastname"
              placeholder="Last name"
              required
              v-model="lname"
            />
          </div>
          <input
            type="text"
            id="sitename"
            name="sitename"
            placeholder="sitename.onehash.store"
            required
            v-model="sitename"
          />
          <input
            type="text"
            id="companyname"
            name="companyname"
            placeholder="Company name"
            required
            v-model="comapany_name"
          />
          <div class="grid">
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Email"
              required
              v-model="email"
            />
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
              v-model="password"
            />
          </div>
          <button type="submit" @click="createSite">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="award_box">
      <img
        class="awards"
        style="width: 750px"
        src="/assets/setup_app/rating.png"
        alt=""
      />
      <img
        class="awards"
        style="margin-top: 40px"
        src="/assets/setup_app/award1.png"
        alt=""
      />
      <img class="awards" src="/assets/setup_app/award2.png" alt="" />
      <img
        class="awards"
        style="width: 337px"
        src="/assets/setup_app/award3.png"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./start.js"></script>
{% endblock %}
